<?xml version="1.0"?>
<robot name="mecanum_drive"
    xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:macro name="mecanum_drive" params="parent name_space wheelbase wheel_radius wheel_separation">
        <isaacsim>
            <plugin name="JointStatePublisher">
                <base_link>${parent}</base_link>
            </plugin>

            <plugin name="MecanumDrive">
                <!-- Namespace robot -->
                <name_space>${name_space}</name_space>
                <!-- joints definitions -->
                <child_frame_id>${parent}</child_frame_id>
                <front_left_joint>front_left_mecanum_joint</front_left_joint>
                <front_right_joint>front_right_mecanum_joint</front_right_joint>
                <back_left_joint>rear_left_mecanum_joint</back_left_joint>
                <back_right_joint>rear_right_mecanum_joint</back_right_joint>
                <!-- Longitudinal distance between front and back wheels, in meters.
                This element is optional, although it is recommended to be included with an appropriate value. The default value is 1.0m. -->
                <wheelbase>${wheelbase}</wheelbase>
                <!-- Lateral distance between left and right wheels, in meters.
                This element is optional, although it is recommended to be included with an appropriate value. The default value is 1.0m. -->
                <wheel_separation>${wheel_separation}</wheel_separation>
                <!-- Wheel radius in meters.
                This element is optional, although it is recommended to be included with an appropriate value. The default value is 0.2m. -->
                <wheel_radius>${wheel_radius}</wheel_radius>
                <!-- Publish odometry -->
                <publish_odom>false</publish_odom>
            </plugin>
        </isaacsim>
    </xacro:macro>

</robot>