<?xml version="1.0"?>
<robot name="nanosaur" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- nanosaur parts -->
    <xacro:include filename="$(find nanosaur_description)/urdf/robot.urdf.xacro" />
    <!-- Sensors & plugins -->
    <xacro:include filename="$(find nanosaur_isaac-sim)/urdf/mecanum_drive.isaac.xacro" />
    <xacro:include filename="$(find nanosaur_isaac-sim)/urdf/sensors/realsense.isaac.xacro" />

    <xacro:arg name="robot_name" default="nanosaur" />
    <!-- camera definitions -->
    <xacro:arg name="camera_type" default="empty" /> <!--options: empty, realsense, zedmini -->
    <xacro:arg name="lidar_type" default="empty" /> <!--options: empty, LD06 -->
    <xacro:property name="camera_type_name" value="$(arg camera_type)" />

    <xacro:arg name="publish_pointcloud"  default="false"/>

    <xacro:nanosaur
            camera_type="$(arg camera_type)"
            lidar_type="$(arg lidar_type)"
            use_nominal_extrinsics="true" />

    <!-- nanosaur mecanum wheel drive controller -->
    <xacro:mecanum_drive
            parent="nanosaur_base"
            name_space="$(arg robot_name)"
            wheelbase="${nanosaur_wheelbase}"
            wheel_radius="${mecanum_radius}"
            wheel_separation="${nanosaur_wheel_separation}" />

    <!-- Nanosaur sensors -->
    <xacro:if value="${camera_type_name == 'realsense'}">
        <xacro:realsense_camera
                parent_name="camera_board"
                sensor_name="camera"
                robot_name="$(arg robot_name)"
                publish_pointcloud="$(arg publish_pointcloud)" />
    </xacro:if>

</robot>